<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Incentive</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Pay Intensive</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Pay Incentive</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Pay Incentive</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addPayIncentiveForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field>
                <input matInput class="input-full-width" [matDatepicker]="dp" placeholder="Payment Date"
                    formControlName="paymentDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="addPayIncentiveForm.get('paymentDate').hasError('required')">
                    Payment Date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="incentiveType" formControlName="incentiveType">
                    <option value="" disabled selected>Select Incentive Type</option>
                    <option *ngFor="let type of incentiveType" [value]="type">
                        {{lstIncentiveTypeEnum[type]}}
                    </option>
                </select>
                <mat-error *ngIf="addPayIncentiveForm.get('incentiveType').hasError('required')">
                    Incentive Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="paidToId" formControlName="paidToId">
                    <option value="" disabled selected>Select Paid To Employee</option>
                    <option *ngFor="let employee of lstEmployee" [value]="employee.id">
                        {{employee?.name}}
                    </option>
                </select>
                <mat-error *ngIf="addPayIncentiveForm.get('paidToId').hasError('required')">
                    Paid To Employee is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="paymentType" formControlName="paymentType">
                    <option value="" disabled selected>Select Payment Type</option>
                    <option *ngFor="let type of expenseType" [value]="type">
                        {{lstExpenseType[type]}}
                    </option>
                </select>
                <mat-error *ngIf="addPayIncentiveForm.get('paymentType').hasError('required')">
                    Payment Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="responsibleEmpId" formControlName="responsibleEmpId">
                    <option value="" disabled selected>Select Responsible Employee</option>
                    <option *ngFor="let employee of lstEmployee" [value]="employee.id">
                        {{employee?.name}}
                    </option>
                </select>
                <mat-error *ngIf="addPayIncentiveForm.get('responsibleEmpId').hasError('required')">
                    Responsible person is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Amount" formControlName="amount">
                <mat-error *ngIf="addPayIncentiveForm.get('amount').hasError('required')">
                    Amount is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button Head="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button Head="button" routerLink="/incentive/payIncentiveList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>