<div class="card mt-1" [class.mat-elevation-z2]="!isActive">
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Expense</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Fixed Expense Setting</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Fixed Expense Setting</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Fixed Expense Details Setting</li>
            </ol>
        </nav>
        <div class="">
            <h5>Fixed Expense Setting Details</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="grid">
                            <span class="title-center">Details</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
            <div class="row">
                <div class="details-body mt-5 mb-5">
                    <div class="row details-body-relative">
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Fixed Expense Setting ID</th>
                                        <td>{{fixedExpenseSettingDetails?.fixedExpenseSettingNo}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Expense Head Name</th>
                                        <td>{{fixedExpenseSettingDetails?.expenseHeadName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Service Provider</th>
                                        <td>{{serviceProvider[fixedExpenseSettingDetails?.serviceProviderId]}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Valid From</th>
                                        <td>{{fixedExpenseSettingDetails?.validFromString}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Valid To</th>
                                        <td>{{fixedExpenseSettingDetails?.validToString}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="val">

                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Payble Type</th>
                                        <td colspan="2">{{fixedExpenseSettingDetails?.paybleTypeName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Amount</th>
                                        <td>{{fixedExpenseSettingDetails?.amount}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Note</th>
                                        <td>{{fixedExpenseSettingDetails?.note}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>{{getStatus(fixedExpenseSettingDetails?.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="mat-toolbar-footer grid">
                            <span class="title-center">
                                <p>Created by {{fixedExpenseSettingDetails?.createdByName}} at
                                    {{fixedExpenseSettingDetails?.createdDateString}} </p>
                                <p *ngIf="fixedExpenseSettingDetails?.updatedByName != null">Updated By
                                    {{fixedExpenseSettingDetails?.updatedByName}} at
                                    {{fixedExpenseSettingDetails?.updatedDateString}}</p>
                            </span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>