<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Expense</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Expense Type</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Expense Type</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Expense Type</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addExpenseTypeForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="addExpenseTypeForm.get('name').hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-card-content>
                <section class="example-section">
                    <mat-checkbox class="example-margin" formControlName="isFixed">Is Fixed</mat-checkbox>
                </section>
            </mat-card-content>
            <mat-form-field class="input-full-width">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
                <mat-error *ngIf="addExpenseTypeForm.get('description').hasError('required')">
                    Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>            
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/expense/expenseTypeList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>