<mat-progress-bar *ngIf='showProgressBar' mode="indeterminate"></mat-progress-bar>
<div class="sign-up-container">
    <img class="img-sing" src="/assets/images/common/signup.svg" />
</div>
<div class="sign-up-container-top">
    <img class="img-sing" src="/assets/images/common/wellcome.svg" />
</div>
<mat-card class="sign-up-form">
    <div class="form-header">
        <h5 class="text-center">Forget Password</h5>
    </div>
    <mat-card-content class="mt-5">
        <form [formGroup]="forgetPasswordForm">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput>
                <mat-error *ngIf="forgetPasswordForm.get('email').hasError('required')">
                    Email is<strong> required</strong>
                </mat-error>
                <mat-error *ngIf="forgetPasswordForm.get('email').hasError('email')">
                    Please enter a <strong>valid </strong>email
                </mat-error>
            </mat-form-field>
            <div class="col-sm-12 d-flex justify-content-center">
                <button type="button" (click)="onSubmit()" style=" box-shadow:  0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)" mat-stroked-button color="primary" id="sendRequestButton" class="btn-custom float-right"
                color="primary">Get Password Reset Link</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>