<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">External Trasfer</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add External Trasfer</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add External Trasfer</h5>
    </div>
</mat-card>
<!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" [class.active]="externalTransfer.paid == undefined || externalTransfer.paid == 0"  id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">Receive</a>
      <a class="nav-item nav-link" [class.active]="externalTransfer.paid > 0"  id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Pay</a>
    </div>
  </nav> -->
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addExternalTransferForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field>
                <input matInput class="input-full-width" [matDatepicker]="dp" placeholder="Date"
                    formControlName="capturedDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="addExternalTransferForm.get('capturedDate').hasError('required')">
                    Date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Request By" formControlName="requestedBy">
                <mat-error *ngIf="addExternalTransferForm.get('requestedBy').hasError('required')">
                    Request By is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Amount" formControlName="amount">
                <mat-error *ngIf="addExternalTransferForm.get('amount').hasError('required')">
                    Amount is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <textarea matInput placeholder="Note" formControlName="note"></textarea>
                <mat-error *ngIf="addExternalTransferForm.get('note').hasError('required')">
                    Note is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/finance/externalTransferList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>