<div class="card mt-1" [class.mat-elevation-z2]="!isActive">
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Sale</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Customer</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Customer</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Customer Details</li>
            </ol>
        </nav>
        <div class="">
            <h5>Customer Details</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="grid">
                            <span class="title-center">Details</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
            <div class="row">
                <div class="details-body mt-5 mb-5">
                    <div class="row details-body-relative">
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Customer ID</th>
                                        <td>{{customerDetails?.customerNo}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>{{customerDetails?.name}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mobile</th>
                                        <td>{{customerDetails?.mobile}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="val">

                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>{{customerDetails?.address}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>{{getStatus(customerDetails?.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="mat-toolbar-footer grid">
                            <span class="title-center">
                                <p>Created by {{customerDetails?.createdByName}} at {{customerDetails?.createdDateString}}
                                </p>
                                <p *ngIf="customerDetails?.modifiedBy != null">Modified By
                                    {{customerDetails?.modifiedByName}} at {{customerDetails?.modifiedDateString}}</p>
                            </span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>