<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">VAT</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">add VAT</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add VAT</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addVATForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="VAT Name" formControlName="name">
                <mat-error *ngIf="addVATForm.get('name').hasError('required')">
                    VAT name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="input-full-width">
                <mat-label>Select isPercent</mat-label>
                <select matNativeControl id="isPercent" formControlName="isPercent">
                    <option value="" disabled selected></option>
                    <option *ngFor="let item of keyOfYesNo" [value]="item">
                        {{yesOrNo[item]}}
                    </option>
                </select>
                <mat-error *ngIf="addVATForm.get('isPercent').hasError('required')">
                    isPercent is<strong> required</strong>
                </mat-error>
            </mat-form-field> -->
            <div class="row"> 
                <div class="col-sm-6">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Amount" formControlName="amount">
                        <mat-error *ngIf="addVATForm.get('amount').hasError('required')">
                            Amount is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-checkbox formControlName="isPercent">Is Percent?</mat-checkbox>
                    <!-- <mat-radio-group  matNativeControl  aria-labelledby="example-radio-group-label" class="example-radio-group" id="isPercent" formControlName="isPercent">
                        <mat-radio-button class="example-radio-button" *ngFor="let item of keyOfYesNo" [value]="item">
                            {{yesOrNo[item]}}
                        </mat-radio-button>
                    </mat-radio-group> -->
                    <mat-error *ngIf="addVATForm.get('isPercent').hasError('required')">
                        isPercent is<strong> required</strong>
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput class="input-full-width" [matDatepicker]="dp" placeholder="Start Date"
                            formControlName="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error *ngIf="addVATForm.get('fromDate').hasError('required')">
                            Start Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <input matInput class="input-full-width" [matDatepicker]="dp1" placeholder="End Date"
                            formControlName="toDate">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                        <mat-error *ngIf="addVATForm.get('toDate').hasError('required')">
                            End Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Unit Description" formControlName="description">
                <mat-error *ngIf="addVATForm.get('description').hasError('required')">
                    VAT Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/finance/vatList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>