
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Product</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Add Product</li>
            </ol>
        </nav>
        <div class="">
            <h5 class="font-material">Add Product</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <div class="col d-flex justify-content-center">
            <form [formGroup]="addProductionForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
                <input matInput hidden formControlName="id">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Production Name" formControlName="name">
                            <mat-error *ngIf="addProductionForm.get('name').hasError('required')">
                                Production name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Batch" formControlName="batch">
                            <mat-error *ngIf="addProductionForm.get('batch').hasError('required')">
                                Batch is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Batch Code" formControlName="batchCode">
                            <mat-error *ngIf="addProductionForm.get('batchCode').hasError('required')">
                                Batch Code is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Raw Product Total Cost" formControlName="rawProductCostTotal">
                            <mat-error *ngIf="addProductionForm.get('rawProductCostTotal').hasError('required')">
                                Raw Product Total Cost is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field class="input-full-width">
                            <input matInput placeholder="Other Total Cost" formControlName="otherCostTotal">
                            <mat-error *ngIf="addProductionForm.get('otherCostTotal').hasError('required')">
                                Other Total Cost is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        
                <mat-form-field>
                    <input matInput class="input-full-width" [matDatepicker]="dp" placeholder="Start Date"
                        formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                    <mat-error *ngIf="addProductionForm.get('startDate').hasError('required')">
                        Start Date is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput class="input-full-width" [matDatepicker]="dp1" placeholder="Expired Date"
                                formControlName="expiredDate">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                            <mat-error *ngIf="addProductionForm.get('expiredDate').hasError('required')">
                                Expired Date is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Note" formControlName="note">
                    <mat-error *ngIf="addProductionForm.get('note').hasError('required')">
                        Note is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                    </div>
                </div>
                <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
                <button type="button" routerLink="/administration/productionList" mat-raised-button
                    class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
            </form>
        </div>
    </div>
