<!-- <app-alert [message]="response.message" *ngFor="let r of reset" [statusCode]="response.statusCode"></app-alert> -->
<div class="card-body">
  <div class="page_header">
    <div class="page_name_title">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
          <i class="fas fa-square-full list_style_square"></i>
          <li class="breadcrumb-item active" aria-current="page">Organization Information</li>
        </ol>
      </nav>
      <h5>Organization Information</h5>
    </div>
    <div class="page_action text-right">
      <ul class="list-unstyled">
        <li class="btn-group row_action_btn">
          <button type="button" class="btn green dropdown-toggle action_btn_ksa" data-toggle="dropdown"
            data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false">
            <span class="text-uppercase">Action</span>
          </button>
          <ul class="dropdown-menu action_btn_ksa pull-right" role="menu">
            <li><a routerLink="/administration/addOrganization">Add
                New </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<mat-card class="mt-2 mat-medium-font" >
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <mat-card class="picture-mat-card">
          <img id="uploadedPicture" src="{{appHost.hostName}}images/organizationImages/{{organization?.logoImage}}"
            class="card-img-top">
        </mat-card>
      </div>
      <div class="col-sm-9">
        <mat-card class="picture-mat-card">
          <img id="uploadedPicture" src="{{appHost.hostName}}images/organizationImages/{{organization?.nameCardImage}}"
            class="card-img-top">
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-3">
    <div class="row">
      <div class="col-sm-6">
        <dl>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Organization ID</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.organizationNo}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Organization Name</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.name}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Organization Type</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.organizationTypeName}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Established On</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.establishedOnDateString}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Mobile No.</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.mobileNo}}
            </dd>
          </div>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Founder Name</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.founderName}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Telephone No.</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.telephoneNo}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Email Id</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.email}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Reg No.</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.registrationNo}}
            </dd>
          </div>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-5">Web Address</dt>
            <dd class="col-sm-7 dl-dd-data mb-1">
              {{organization?.webAddress}}
            </dd>
          </div>
        </dl>
      </div>
      <div class="col-sm-12 address-row">
        <dl>
          <div class="row mb-1">
            <dt class="label-for-input col-sm-2">Address</dt>
            <dd class="col-sm-10 dl-dd-data mb-1">
              House {{ organization?.addressVillageHouse}}, Road {{organization?.addressRoadBlockSector}},
              {{getPostOffice(organization?.addressPostOffice)}}-{{organization?.addressPostCode}},
              {{getPSName(organization?.addressUpazila)}}, {{getDistrictName(organization?.addressDistrict)}},
              {{getCountryName(organization?.addressCountry)}}
            </dd>
          </div>
        </dl>
      </div>
      <div class="address-row ml-auto">        
        <button  mat-stroked-button class="edit-btn pull-right"
          color="primary">
          <i class="material-icons" routerLink="/administration/addOrganization/{{organization?.id}}">edit</i>Edit Organization
        </button>
      </div>
    </div>
  </div>

</mat-card>