.label-for-input{
    background-image: linear-gradient(to right,#b7d5b7, #FFFFFF);
}
dl{
    padding-left: 15px!important;
}
.address-row{
    margin-top: -12px;
}
.address-row .dl-dd-data{
    padding-left: 5%;
}