<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administration</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Shop</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Shop</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Shop</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addShopForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="addShopForm.get('name').hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Designation" formControlName="designation">
                <mat-error *ngIf="addShopForm.get('designation').hasError('required')">
                    Designation is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="VAT registration number" formControlName="vatRegNo">
                <mat-error *ngIf="addShopForm.get('vatRegNo').hasError('required')">
                    VAT registration number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Aaddress" formControlName="address1">
                <mat-error *ngIf="addShopForm.get('address1').hasError('required')">
                    Address is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Address(optional)" formControlName="address2">
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Mobile number" formControlName="phone">
                <mat-error *ngIf="addShopForm.get('phone').hasError('required')">
                    Mobile Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Email for login" formControlName="emailForSystemGeneratedMail">
                <mat-error *ngIf="addShopForm.get('emailForSystemGeneratedMail').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Password for login" formControlName="passwordForSystemGeneratedMail">
                <mat-error *ngIf="addShopForm.get('passwordForSystemGeneratedMail').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/administration/shopList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>