<div class="card mt-1" [class.mat-elevation-z2]="!isActive">
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Product Items</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Add Product Item</li>
            </ol>
        </nav>
        <div class="">
            <h5 class="font-material">Add Product Item</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="addProductItemForm">
                <div class="col d-flex justify-content-center">
                    <form [formGroup]="addProductItemForm" novalidate class="example-form">
                        <ng-template matStepLabel>Product Item</ng-template>
                        <mat-toolbar class="d-flex-inline  mb-5" color="primary">
                            <mat-toolbar-row class="grid">
                                <span class="title-center">Product Item</span>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <input matInput hidden formControlName="id">
                        <div class="row mt-5">
                            <div class="col-sm-6">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Product</mat-label>
                                    <select matNativeControl id="productId" formControlName="productId">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of lstcommon?.lstProducts" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('productId').hasError('required')">
                                        Product is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-checkbox formControlName="isSerialProduct">Is it Serial Product?</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Category</mat-label>
                                    <select matNativeControl id="categoryId" formControlName="categoryId">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of lstcommon?.lstCategories" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('categoryId').hasError('required')">
                                        Category is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Manufacturer</mat-label>
                                    <select matNativeControl id="manufacturerId" formControlName="manufacturerId">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of lstcommon?.lstManufacturers" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('manufacturerId').hasError('required')">
                                        Manufacturer is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Unit</mat-label>
                                    <select matNativeControl id="unitId" formControlName="unitId">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of lstcommon?.lstUnits" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('unitId').hasError('required')">
                                        Unit is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Vat</mat-label>
                                    <select matNativeControl id="vatId" formControlName="vatId">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of lstcommon?.lstVats" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('vatId').hasError('required')">
                                        Vat is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field class="input-full-width">
                                    <mat-label>Select Product Type</mat-label>
                                    <select matNativeControl id="productType" formControlName="productType">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let item of keyOfproductType" [value]="item">
                                            {{productType[item]}}
                                        </option>
                                    </select>
                                    <mat-error *ngIf="addProductItemForm.get('productType').hasError('required')">
                                        Product Type is<strong> required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="input-full-width">
                                    <input matInput placeholder="Bar Code" formControlName="barCode">
                                    <mat-error *ngIf="addProductItemForm.get('barCode').hasError('required')">
                                        Bar Code is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="input-full-width">
                                    <input matInput placeholder="Sku" formControlName="sku">
                                    <mat-error *ngIf="addProductItemForm.get('sku').hasError('required')">
                                        Sku is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button mat-raised-button matStepperNext class="btn-custom mt-2 float-right"
                                (click)="onProductItemSave()" color="primary">Next</button>
                            <button type="button" routerLink="/administration/productItemList" mat-raised-button
                                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
                        </div>
                    </form>
                </div>
            </mat-step>
            <mat-step [stepControl]="addProductAttrForm" [completed]="true">
                <div class="col d-flex justify-content-center">
                    <form [formGroup]="addProductAttrForm" class="example-form">
                        <ng-template matStepLabel>Product Attribute</ng-template>
                        <div class="row">
                            <mat-toolbar class="d-flex-inline  mb-5">
                                <mat-toolbar-row class="grid">
                                    <span class="title-center">Product Attribute</span>
                                </mat-toolbar-row>
                            </mat-toolbar>
                            <div class="col-sm-12" formArrayName='productAttribute'
                                *ngFor="let attri of addProductAttrForm.get('productAttribute').controls; let i = index;">
                                <div [formGroupName]='i'>
                                    <mat-form-field class="input-full-width">
                                    <mat-label>Select Attribute</mat-label>
                                        <select matNativeControl id="specificationAttrId"
                                            formControlName="specificationAttrId"
                                            (change)="onChangeAttribute($event.target.value)">
                                            <option value="" disabled selected>Select Attribute</option>
                                            <option *ngFor="let item of lstcommon?.lstSpecificationAttributes"
                                                [value]="item.id">
                                                {{item.name}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="attri.get('specificationAttrId').hasError('required')">
                                            Attribute is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                    <mat-label>Select Attribute Value</mat-label>
                                        <select  matNativeControl id="specificationAttrValueId"
                                            formControlName="specificationAttrValueId">
                                            <option value="" disabled selected>Select Attribute Value</option>
                                            <!-- <option *ngFor="let item of lstValue" [value]="item.id">
                                                {{item.attrValue}}
                                            </option> -->
                                            <option
                                                *ngFor="let item of getAttrValu(addProductAttrForm.get('productAttribute').at(i).get('specificationAttrId').value)"
                                                [value]="item.id">
                                                {{item.attrValue}}
                                            </option>
                                        </select>
                                        <mat-error *ngIf="attri.get('specificationAttrValueId').hasError('required')">
                                            Attribute Value is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <input matInput placeholder="Sequence No" formControlName="sequenceNo">
                                        <mat-error *ngIf="attri.get('sequenceNo').hasError('required')">
                                            Sequence No is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <input matInput placeholder="Price Adjustment"
                                            formControlName="priceAdjustment">
                                        <mat-error *ngIf="attri.get('priceAdjustment').hasError('required')">
                                            Price Adjustment is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="input-full-width">
                                        <input matInput placeholder="Weight Adjustment"
                                            formControlName="weightAdjustment">
                                        <mat-error *ngIf="attri.get('weightAdjustment').hasError('required')">
                                            Weight Adjustment is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="d-flex justify-content-center"
                                        *ngIf="addProductAttrForm.get('productAttribute').length > 1">
                                        <label class="hover-hand" for="removeEduQual">Remove</label>
                                        <button id="removeEduQual" class="btn-pull-right" type="button"
                                            (click)="onRemoveAtrribute(i)" mat-icon-button color="warn"
                                            aria-label="Example icon-button with a heart icon">
                                            <mat-icon>remove_circle</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <label class="hover-hand" for="AddSizeButton"> Add More Producte</label><button
                                id="AddSizeButton" type="button" (click)="onAddMoreAttribute()" mat-icon-button
                                color="primary" aria-label="Example icon-button with a heart icon">
                                <mat-icon>add_box</mat-icon>
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button matStepperNext (click)="onProductAttributeSave()"
                                class="btn-custom mt-2 float-right" color="primary">Done</button>
                            <button type="button" matStepperPrevious mat-raised-button
                                class="btn-custom mr-2 mt-2 float-right" color="green">Back</button>
                        </div>
                    </form>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>