<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Product Category</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Category</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Category</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Category Name" formControlName="name">
                <mat-error *ngIf="addCategoryForm.get('name').hasError('required')">
                    Category name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <mat-label>Select Parent Category</mat-label>
                <select matNativeControl id="parentId" formControlName="parentId">
                  <option value="" disabled selected></option>
                  <option value="0">None</option>
                  <option *ngFor="let item of lstCategory" [value]="item.id">
                    {{item.name}}
                  </option>
                </select>
                <mat-error *ngIf="addCategoryForm.get('parentId').hasError('required')">
                  parent is<strong> required</strong>
                </mat-error>
              </mat-form-field>
            <!-- <mat-form-field class="input-full-width">
                <input matInput placeholder="Category No" formControlName="categoryNo">
                <mat-error *ngIf="addCategoryForm.get('categoryNo').hasError('required')">
                    Category No is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Priority" formControlName="priority">
                <mat-error *ngIf="addCategoryForm.get('priority').hasError('required')">
                    Priority is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Category Description" formControlName="description">
                <mat-error *ngIf="addCategoryForm.get('description').hasError('required')">
                    Category  Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/administration/categoryList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>