<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">External Person</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add External Person</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add External Person</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addExternalPersonForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="addExternalPersonForm.get('name').hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Father's Name" formControlName="fathersName">
                <mat-error *ngIf="addExternalPersonForm.get('fathersName').hasError('required')">
                    Father's Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Relationship" formControlName="relationshipId">
                <mat-error *ngIf="addExternalPersonForm.get('relationshipId').hasError('required')">
                    Relationship is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Mobile Number" formControlName="mobileNo">
                <mat-error *ngIf="addExternalPersonForm.get('mobileNo').hasError('required')">
                    Mobile Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="addExternalPersonForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <textarea matInput placeholder="address" formControlName="address"></textarea>
                <mat-error *ngIf="addExternalPersonForm.get('address').hasError('required')">
                    Address is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/finance/externalPersonList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>