<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Bank Account</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Bank Account</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Bank Account</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addBankAccountForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Bank Name" formControlName="bankName">
                <mat-error *ngIf="addBankAccountForm.get('bankName').hasError('required')">
                    Bank Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Branch Name" formControlName="branchName">
                <mat-error *ngIf="addBankAccountForm.get('branchName').hasError('required')">
                    Branch Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Account Name" formControlName="accountName">
                <mat-error *ngIf="addBankAccountForm.get('accountName').hasError('required')">
                    Account Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Account Number" formControlName="accountNo">
                <mat-error *ngIf="addBankAccountForm.get('accountNo').hasError('required')">
                    Account Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="accountType" formControlName="accountType">
                    <option value="" disabled selected>---Select Account Type---</option>
                    <option *ngFor="let type of accountType" [value]="type">
                        {{lstBankAccountType[type]}}
                    </option>
                </select>
                <mat-error *ngIf="addBankAccountForm.get('accountType').hasError('required')">
                    Account Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <select matNativeControl id="transectionType" formControlName="transectionType">
                    <option value="" disabled selected>---Select Transection Type---</option>
                    <option *ngFor="let type of transectionType" [value]="type">
                        {{lstTransectionType[type]}}
                    </option>
                </select>
                <mat-error *ngIf="addBankAccountForm.get('transectionType').hasError('required')">
                    Transection Type is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/finance/bankAccountList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>