<div class="card mt-1" [class.mat-elevation-z2]="!isActive">
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Bank Transfer</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Bank Transfer</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Bank Transfer Details</li>
            </ol>
        </nav>
        <div class="">
            <h5>Bank Transfer Details</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="grid">
                            <span class="title-center">Details</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
            <div class="row">
                <div class="details-body mt-5 mb-5">
                    <div class="row details-body-relative">
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Bank Transfer ID</th>
                                        <td>{{bankTransferDetails?.bankTransferNo}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bank Account Number</th>
                                        <td>{{bankTransferDetails?.bankAccountId}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sent To</th>
                                        <td>{{bankTransferDetails?.requestedBy}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Date</th>
                                        <td>{{bankTransferDetails?.captureDateString}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Responsible Person</th>
                                        <td>{{bankTransferDetails?.responsiblePersonId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="val">

                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Amount</th>
                                        <td colspan="2">{{bankTransferDetails?.amount}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Note</th>
                                        <td>{{bankTransferDetails?.note}}</td>
                                    </tr>
                                    <tr *ngIf="rejectReason != null">
                                        <th scope="row">Reject Reason</th>
                                        <td>{{bankTransferDetails?.rejectReason}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Transfer Purpose</th>
                                        <td>{{bankTransferDetails?.transferPurpose}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>{{getStatus(bankTransferDetails?.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="mat-toolbar-footer grid">
                            <span class="title-center">
                                <p>Captured by {{bankTransferDetails?.capturedByName}} at
                                    {{bankTransferDetails?.captureDateString}} </p>
                                <p *ngIf="bankTransferDetails?.approvedByName != null">Rejected By
                                    {{bankTransferDetails?.approvedByName}} at
                                    {{bankTransferDetails?.approveDateString}}</p>
                                <p *ngIf="bankTransferDetails?.canceledByName != null">Cancel By
                                    {{bankTransferDetails?.canceledByName}} at
                                    {{bankTransferDetails?.canceledDateString}}</p>
                                <p *ngIf="bankTransferDetails?.updatedByName != null">Updated By
                                    {{bankTransferDetails?.updatedByName}} at
                                    {{bankTransferDetails?.updatedDateString}}</p>
                            </span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>