<div class="card mt-1" [class.mat-elevation-z2]="!isActive">
    <mat-card class="mat-medium-font">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Finance</a></li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item">Bank Account</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Bank Account</li>
                <i class="fas fa-square-full list_style_square"></i>
                <li class="breadcrumb-item active" aria-current="page">Bank Account Details</li>
            </ol>
        </nav>
        <div class="">
            <h5>Bank Account Details</h5>
        </div>
    </mat-card>
    <div class="card-body card-white-background">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="grid">
                            <span class="title-center">Details</span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
            <div class="row">
                <div class="details-body mt-5 mb-5">
                    <div class="row details-body-relative">
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Bank Account ID</th>
                                        <td>{{bankAccountDetails?.bankAccountNo}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Bank Name</th>
                                        <td>{{bankAccountDetails?.bankName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Branch Name</th>
                                        <td>{{bankAccountDetails?.branchName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Account Name</th>
                                        <td>{{bankAccountDetails?.accountName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="val">

                        </div>
                        <div class="col-sm-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Account Number</th>
                                        <td colspan="2">{{bankAccountDetails?.accountNo}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Account Type</th>
                                        <td>{{bankAccountDetails?.accountTypeName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Transection Type</th>
                                        <td>{{bankAccountDetails?.transectionTypeName}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>{{getStatus(bankAccountDetails?.status)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row class="mat-toolbar-footer grid">
                            <span class="title-center">
                                <p>Captured by {{bankAccountDetails?.capturedByName}} at
                                    {{bankAccountDetails?.captureDateString}} </p>
                                <p *ngIf="bankAccountDetails?.updatedByName != null">Updated By
                                    {{bankAccountDetails?.updatedByName}} at
                                    {{bankAccountDetails?.updatedDateString}}</p>
                            </span>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>

