<mat-card class="mat-medium-font mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item">Unit</li>
            <i class="fas fa-square-full list_style_square"></i>
            <li class="breadcrumb-item active" aria-current="page">Add Unit</li>
        </ol>
    </nav>
    <div class="">
        <h5 class="font-material">Add Unit</h5>
    </div>
</mat-card>
<div class="card-body card-white-background">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="addUnitForm" (ngSubmit)="onSubmit()" novalidate class="example-form">
            <input matInput hidden formControlName="id">
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Unit Name" formControlName="name">
                <mat-error *ngIf="addUnitForm.get('name').hasError('required')">
                    Unit name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="input-full-width">
                <input matInput placeholder="Unit No" formControlName="unitNo">
                <mat-error *ngIf="addUnitForm.get('unitNo').hasError('required')">
                    Unit No is <strong>required</strong>
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="input-full-width">
                <mat-label>Select Unit IsInterger</mat-label>
                <select matNativeControl id="isInteger" formControlName="isInteger">
                    <option value="" disabled selected></option>
                    <option *ngFor="let item of keyOfYesNo" [value]="item">
                        {{yesOrNo[item]}}
                    </option>
                </select>
                <mat-error *ngIf="addUnitForm.get('isInteger').hasError('required')">
                    isInteger is<strong> required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <input matInput placeholder="Unit Description" formControlName="description">
                <mat-error *ngIf="addUnitForm.get('description').hasError('required')">
                    Unit Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button class="btn-custom mt-2 float-right" color="primary">Save</button>
            <button type="button" routerLink="/administration/unitList" mat-raised-button
                class="btn-custom mr-2 mt-2 float-right" color="warn">Cancel</button>
        </form>
    </div>
</div>