
.d-flex-inline {
    display: inline!important; 
}
.d-flex-inline .mat-toolbar-row {
    border-radius: 33px!important;
    max-height: 30px;
    color: white;
}
.val{
    max-height: 80%;
}
.mat-icon-button{
    margin-top: -8px;
}